# IntelliJ IDEA
.idea/

# Arquivos compilados do IntelliJ
out/




aulas/codigos_por_unidade/unidade2/unidade2.iml
aulas/CodigosPorUnidade/CodigosPorUnidade.iml
aulas/CodigosPorUnidade/Unidade2/Unidade2.iml
aulas/codigos_por_unidade/codigos_por_unidade.iml
aulas/codigos_por_unidade/unidade2/unidade3.iml
aulas/codigos_por_unidade/codigos_por_unidade2.iml
